# Ambiente virtual
venv/
.env
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Cache do Jupyter/IPython
.ipynb_checkpoints

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do VSCode
.vscode/

# Outros arquivos temporários
*.log